<!DOCTYPE html>
<html lang="zh-cmn-Hans">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>华中科技大学信息安全实验平台 - 目录</title>
                <!-- load JS-->
                <script type="text/javascript" src="/public/javascripts/jquery-3.2.1.slim.min.js"></script>
                <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
                <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
                <!-- load CSS -->
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">  <!-- Google web font "Open Sans" -->
                <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">                                  <!-- https://getbootstrap.com/ -->
                <link rel="stylesheet" href="/public/stylesheets/fontawesome/css/fontawesome-all.min.css">                <!-- https://fontawesome.com/ -->
                <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick.css"/>                       <!-- http://kenwheeler.github.io/slick/ -->
                <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick-theme.css"/>
                <link rel="stylesheet" href="/public/stylesheets/tooplate-style.css">                               
            
                <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
                
        </head>

<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4" >华中科技大学信息安全实验平台</h1>
                            <img src="/public/images/underline.png" class="img-fluid mb-4">
                            <p >技术至上，品德更高</p>        
                        </div>                        
                    </div>
                   
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                                

                                <div class="grid__item">
                                        <a href="simulator.html">
                                            <div class="product">
                                                <div class="tm-nav-link">
                                                    <i class="fas fa-comments fa-3x tm-nav-icon" ></i>
                                                    <span class="tm-nav-text">课程学习</span>           
                                                </div>                                                              
                                            </div>
                                        </a>
                                </div>
                                 

                                <div class="grid__item">
                                        <a href="/exam">
                                            <div class="product">
                                                <div class="tm-nav-link">
                                                    <i class="fas fa-comments fa-3x tm-nav-icon" ></i>
                                                    <span class="tm-nav-text">答题系统</span>           
                                                </div>                                                              
                                            </div>
                                        </a>
                                </div>
                                <div class="grid__item">
                                    <a href="/information">
                                        <div class="product">
                                            <div class="tm-nav-link">
                                                <i class="fas fa-id-card fa-3x tm-nav-icon" ></i>
                                                <span class="tm-nav-text">个人信息</span>           
                                            </div>                                                              
                                        </div>
                                    </a>
                                </div>
                                <div class="grid__item">
                                    <a href="/simulator">
                                        <div class="product">
                                            <div class="tm-nav-link">
                                                <i class="fa fa-shield-alt fa-3x tm-nav-icon"></i>
                                                <span class="tm-nav-text">模拟攻防</span>           
                                            </div>                                                              
                                        </div>
                                    </a>
                                </div>


                                
                            </div> 
                        </div>                       
                    </div>
                </div>                
            </div>
            <footer>
                <p class="small tm-copyright-text">Copyright &copy; 2018<span class="tm-current-year" id="current-year"></span> HUST. 
                    <a rel="nofollow" class="tm-text-highlight">All Rights Reserved. <a href="http://hub.hust.edu.cn" target="_blank" title="Hub">华中科技大学 版权所有
                    </a><br><a href="/contact">意见反馈</a>
                </p>
            </footer>
        </div> <!-- .tm-main-content -->  
    </div>
    <!-- load JS -->
    <script src="/public/javascripts/jquery-3.2.1.slim.min.js"></script>         <!-- https://jquery.com/ -->    
    <script src="/public/stylesheets/slick/slick.min.js"></script>                  <!-- http://kenwheeler.github.io/slick/ -->  
    <script src="/public/javascripts/anime.min.js"></script>                     <!-- http://animejs.com/ -->
    <script src="/public/javascripts/main.js"></script>  
    <script>      
        // $('#current-year').text(new Date().getFullYear());  // Update year in copyright   
        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');   
            }
        }

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });
            var current_year = new Date().getFullYear()
            if(current_year != 2018){
                $('#current-year').text("-"+current_year);  // Update year in copyright   
            }        
        });

    </script>             

</body>
</html>