<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华中科技大学信息安全实验平台 - 教师评价</title>
  <!-- load JS-->
  <script type="text/javascript" src="/public/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/courseware-upload.js"></script>
  <!-- load CSS -->
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/public/stylesheets/fontawesome/css/fontawesome-all.min.css">
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick.css" />
  <!-- http://kenwheeler.github.io/slick/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/examsidebar.css">
</head>

<body>
  <div class="header">
    <div class="headerb">
      <div class="top-logo" onclick="window.open('http://hub.hust.edu.cn')" style="cursor: pointer;"></div>
      <div class="headern">
        华中科技大学信息安全实验平台
      </div>
      <div class="logout pointer" title="退出登录" onclick="Logout()" style="cursor: pointer;">
        <div class="logout-icon"></div>
        <span>退出</span>
      </div>
    </div>
  </div>
  <br>

  <div style="width: 1200px ; margin: auto; margin-top: 80px;">
    <div class="row">
      <div class="col-12">
        <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">课件上传</h5>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">课程列表</h5>
        <form id="FakeUploadFrom" class="import-file-form" enctype="multipart/form-data">
          <input type="file" name="upload" id="FakeUpload" style="display:none">
        </form>
        <div id="course-list" class="list-group">
        </div>
      </div>
    </div>
  </div>
</body>