



<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>远程教育考试平台_在线考试</title>
<link href="main.css" rel="stylesheet" type="text/css" />
<link href="iconfont.css" rel="stylesheet" type="text/css" />
<link href="test.css" rel="stylesheet" type="text/css" />

<style>
.hasBeenAnswer {
	background: #5d9cec;
	color:#fff;
}

</style>
</head>

<body>
	<div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_footer">
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:40</b>
							</p>
							<font><input type="button" name="test_jiaojuan" value="交卷"></font>
						</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">60</i><span>题，</span><span>合计</span><i class="content_fs">60</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="sc0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(1分)</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_1"
																/>
															
															
															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_2"
																/>
															
															
															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_3"
																/>
															
															
															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_4"
																/>
															
															
															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">后台启动流程推进</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="sc1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(1分)</span><font>在营销系统中查询客户有无欠费、余额及抄表数据接待客户时应做到哪些最基本的礼仪？</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_1"
																/>
															
															
															<label for="0_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">起身、微笑、示坐、问候客户</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_2"
																/>
															
															
															<label for="0_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">坐着，问候客户</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_3"
																/>
															
															
															<label for="0_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">坐着，问候客户</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_4"
																/>
															
															
															<label for="0_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">请问需要办理什么业务</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
									
								</ul>
							</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">30</i><span>题，</span><span>合计</span><i class="content_fs">30</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="mc_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(1分)</span><font>以下属于南方电网员工职业操守中明文规定的有()</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_1"
																/>
															
															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">热爱祖国、热爱南网、热爱岗位</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_2"
																/>
															
															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">遵纪守法、忠于职守、令行禁止</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_3"
																/>
															
															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">客户至上、诚实守信、优质服务</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_4"
																/>
															
															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">公平竞争、互相监督、服从监管</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="mc_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(1分)</span><font>以下属于南方电网员工职业禁区的有()</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_1"
																/>
															
															<label for="1_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">严禁违反人文道德</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_2"
																/>
															
															<label for="1_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">严禁违反安全规定</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_3"
																/>
															
															<label for="1_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">严禁违背行风规定</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_4"
																/>
															
															<label for="1_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">严禁违反财经纪律</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
									
									
								</ul>
							</div>
						
					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont">&#xe692;</i>答题卡
							</h1>
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:40</b>
							</p>
						</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">60</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#sc0">1</a></li>
										
											<li><a href="#sc1">2</a></li>
										
											<li><a href="#sc2">3</a></li>
										
											<li><a href="#sc3">4</a></li>
										
											<li><a href="#sc4">5</a></li>
										
											<li><a href="#sc5">6</a></li>
										
											<li><a href="#sc6">7</a></li>
										
											<li><a href="#sc7">8</a></li>
										
											<li><a href="#sc8">9</a></li>
										
											<li><a href="#sc9">10</a></li>
										
											<li><a href="#sc10">11</a></li>
										
											<li><a href="#sc11">12</a></li>
										
											<li><a href="#sc12">13</a></li>
										
											<li><a href="#sc13">14</a></li>
										
											<li><a href="#sc14">15</a></li>
										
											<li><a href="#sc15">16</a></li>
										
											<li><a href="#sc16">17</a></li>
										
											<li><a href="#sc17">18</a></li>
										
											<li><a href="#sc18">19</a></li>
										
											<li><a href="#sc19">20</a></li>
										
											<li><a href="#sc20">21</a></li>
										
											<li><a href="#sc21">22</a></li>
										
											<li><a href="#sc22">23</a></li>
										
											<li><a href="#sc23">24</a></li>
										
											<li><a href="#sc24">25</a></li>
										
											<li><a href="#sc25">26</a></li>
										
											<li><a href="#sc26">27</a></li>
										
											<li><a href="#sc27">28</a></li>
										
											<li><a href="#sc28">29</a></li>
										
											<li><a href="#sc29">30</a></li>
										
											<li><a href="#sc30">31</a></li>
										
											<li><a href="#sc31">32</a></li>
										
											<li><a href="#sc32">33</a></li>
										
											<li><a href="#sc33">34</a></li>
										
											<li><a href="#sc34">35</a></li>
										
											<li><a href="#sc35">36</a></li>
										
											<li><a href="#sc36">37</a></li>
										
											<li><a href="#sc37">38</a></li>
										
											<li><a href="#sc38">39</a></li>
										
											<li><a href="#sc39">40</a></li>
										
											<li><a href="#sc40">41</a></li>
										
											<li><a href="#sc41">42</a></li>
										
											<li><a href="#sc42">43</a></li>
										
											<li><a href="#sc43">44</a></li>
										
											<li><a href="#sc44">45</a></li>
										
											<li><a href="#sc45">46</a></li>
										
											<li><a href="#sc46">47</a></li>
										
											<li><a href="#sc47">48</a></li>
										
											<li><a href="#sc48">49</a></li>
										
											<li><a href="#sc49">50</a></li>
										
											<li><a href="#sc50">51</a></li>
										
											<li><a href="#sc51">52</a></li>
										
											<li><a href="#sc52">53</a></li>
										
											<li><a href="#sc53">54</a></li>
										
											<li><a href="#sc54">55</a></li>
										
											<li><a href="#sc55">56</a></li>
										
											<li><a href="#sc56">57</a></li>
										
											<li><a href="#sc57">58</a></li>
										
											<li><a href="#sc58">59</a></li>
										
											<li><a href="#sc59">60</a></li>
										
									</ul>
								</div>
							</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">30</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#mc_0">1</a></li>
										
											<li><a href="#mc_1">2</a></li>
										
											<li><a href="#mc_2">3</a></li>
										
											<li><a href="#mc_3">4</a></li>
										
											<li><a href="#mc_4">5</a></li>
										
											<li><a href="#mc_5">6</a></li>
										
											<li><a href="#mc_6">7</a></li>
										
											<li><a href="#mc_7">8</a></li>
										
											<li><a href="#mc_8">9</a></li>
										
											<li><a href="#mc_9">10</a></li>
										
											<li><a href="#mc_10">11</a></li>
										
											<li><a href="#mc_11">12</a></li>
										
											<li><a href="#mc_12">13</a></li>
										
											<li><a href="#mc_13">14</a></li>
										
											<li><a href="#mc_14">15</a></li>
										
											<li><a href="#mc_15">16</a></li>
										
											<li><a href="#mc_16">17</a></li>
										
											<li><a href="#mc_17">18</a></li>
										
											<li><a href="#mc_18">19</a></li>
										
											<li><a href="#mc_19">20</a></li>
										
											<li><a href="#mc_20">21</a></li>
										
											<li><a href="#mc_21">22</a></li>
										
											<li><a href="#mc_22">23</a></li>
										
											<li><a href="#mc_23">24</a></li>
										
											<li><a href="#mc_24">25</a></li>
										
											<li><a href="#mc_25">26</a></li>
										
											<li><a href="#mc_26">27</a></li>
										
											<li><a href="#mc_27">28</a></li>
										
											<li><a href="#mc_28">29</a></li>
										
											<li><a href="#mc_29">30</a></li>
										
									</ul>
								</div>
							</div>
						
					</div>

				</div>
			</div>
		</div>
		<!--nr end-->
		<div class="foot"></div>
	</div>

	<script src="jquery-1.11.3.min.js"></script>
	<script src="jquery.easy-pie-chart.js"></script>
	<!--时间js-->
	<script src="time/jquery.countdown.js"></script>
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			});
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>
<div style="text-align:center;">
</div>

</body>

</html>