<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>华中科技大学信息安全实验平台 - 在线答题</title>

    <link rel="stylesheet" href="/public/stylesheets/examsidebar.css" media="screen" type="text/css" />

</head>

<body>

    <!DOCTYPE html>
    <html class="menu">
    <html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
        <meta name="google" value="notranslate" />
        <title>Side Menu</title>

        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

        </div>
        <nav class="main-menu">
            <div class="logo" style="display: block">
                <img src="/public/images/logo.gif"></img>
            </div>
            <div class="settings", style="text-align: center; font-size: 18px;">
            </div>

            <ul class="parent-menu", id="parent">
                
                <li>

                    <a href="/catalog">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">首页</span>

                    </a>
                </li>



                <li>
                    <a href="history">
                        <i class="fa fa-clock-o fa-lg"></i>
                        <span class="nav-text">
                            历史记录
                        </span>
                    </a>

                </li>

                <li>
                    <a href="###" class="favor", id="favor">
                        <i class="fa fa-heart-o fa-lg" id="favor-icon"></i>
                        <span class="nav-text">
                            收藏本节
                        </span>

                    </a>

                </li>

                <li class="has-submenu">
                    <a >
                        <i class="fa fa-chevron-right fa-lg" id="list-icon"></i>
                        <span class="nav-text">
                            练习列表
                        </span>
                    </a>
                    <ul id="task_list" class="submenu" style="display: none">
                        <li>
                            <a href="/exam/1">
                                <i class="fa fa-dot-circle-o fa-lg"></i>
                                <span class="nav-text-small">
                                    练习1
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/exam/2">
                                <i class="fa fa-dot-circle-o fa-lg"></i>
                                <span class="nav-text-small">
                                    练习2
                                </span>
                            </a>
                        </li>
                        <!-- add more -->
                    </ul>
                </li>


            </ul>

            <ul class="logout">
                <li>
                    <a href="javascript:history.go(-1);">
                        <i class="fa fa-chevron-left fa-lg"></i>
                        <span class="nav-text">
                            返回
                        </span>

                    </a>
                </li>
            </ul>
        </nav>
        <script src="/public/javascripts/jquery-1.11.3.min.js"></script>
        <script src="/public/javascripts/exam.js"></script>
        <script>
            var name = '<%=name%>';
            if(!name){
                name = "伍瀚缘";
            }
            // name += '<%=classinfo%>'; //debug
            var hello = "欢迎！" + name;
            $(".settings").text(hello);
        </script>
        <script>
            var favor = '<%=favor%>';
            if(favor == "yes"){
                $("#favor-icon").css("color", "#f544f5");
                $("#favor-icon").removeClass("fa-heart-o");
                $("#favor-icon").addClass("fa-heart");
            }else{
                $("#favor-icon").css("color", "");
                $("#favor-icon").removeClass("fa-heart");
                $("#favor-icon").addClass("fa-heart-o");
            }
        </script>
        <script>
            var favor = '<%=favor%>';
            function postFavor(){
                var data = {
                        favor: true
                };
                RESTful("POST", window.location.href, JSON.stringify(data), function() {
                    if (xmlhttp.readyState == 4) {
                        if (xmlhttp.status == 200) {
                            console.log("post success" + xmlhttp.status);
                            $("#favor-icon").css("color", "#f544f5");
                            $("#favor-icon").removeClass("fa-heart-o");
                            $("#favor-icon").addClass("fa-heart");
                            favor = "yes";
                        } else {
                            console.log("发生错误" + xmlhttp.status);
                        }
                    }
                });
            }
            function deleteFavor(){
                var data = {
                        favor: true
                };
                RESTful("DELETE", window.location.href, JSON.stringify(data), function() {
                    if (xmlhttp.readyState == 4) {
                        if (xmlhttp.status == 200) {
                            console.log("delete success" + xmlhttp.status);
                            $("#favor-icon").css("color", "");
                            $("#favor-icon").removeClass("fa-heart");
                            $("#favor-icon").addClass("fa-heart-o");
                            favor = "no";
                        } else {
                            console.log("发生错误" + xmlhttp.status);
                        }
                    }
                });
            }
            $("#favor").click(function(){
                if(favor == "no"){
                    postFavor();
                }else{
                    deleteFavor();
                }
            })
        </script>
        <script>
            var classinfo = '<%=classinfo%>';
        </script>
        <div style="text-align:center;clear:both">
            <!-- maincode -->
        </div>
    </body>

    </html>

</body>

</html>