<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华中科技大学计算机网络实训平台 - 查看练习</title>
  <!-- load JS-->
  <script type="text/javascript" src="/public/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/exam_teacher.js"></script>
  <!-- load CSS -->
  <link href="/public/stylesheets/examsidebar.css" rel="stylesheet" media="screen" type="text/css" />
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick-theme.css" />
  <!-- http://kenwheeler.github.io/slick/ -->
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/skin.css">
  <script>
    document.documentElement.className = "js";
    var supportsCssVars = function () {
      var e, t = document.createElement("style");
      return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS
        .supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
    };
    supportsCssVars() || alert(
      "Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");
  </script>

</head>

<body>
  <div class="header" style="z-index:999">
    <div class="headerb">
      <div class="top-logo" onclick="window.open('http://hub.hust.edu.cn')" style="cursor: pointer;"></div>
      <div class="headern">
        华中科技大学计算机网络实训平台
      </div>

      <div class="logout pointer" title="退出登录" onclick="logout()" style="cursor: pointer;">
        <div class="logout-icon"></div>
        <span>退出</span>
      </div>
    </div>
  </div>
  <br>
  <nav class="main-menu">
    <div title="App:app42.dc.hust.edu.cn:app421" class="logo" style="display: block">
      <img src="/public/images/logo.gif" />
    </div>
    <div class="settings" , style="text-align: center; font-size: 18px;">
    </div>
    <ul class="parent-menu" , id="parent">
      <li>
        <a id="home-page" href="/catalog">
          <i class="fa fa-home fa-lg"></i>
          <span class="nav-text">首页</span>
        </a>
      </li>
      <li>
        <a id="class-home-page">
          <i class="fa fa-book fa-lg"></i>
          <span class="nav-text">课程首页</span>
        </a>
      </li>
      <li class="has-submenu" id="course-list-parent">
        <a>
          <i class="fa fa-chevron-right fa-lg list-icon" id="course-list-icon"></i>
          <span class="nav-text">
            选择课程
          </span>
        </a>
        <div class="row pre-scrollable">
          <ul id="course-list" class="submenu" style="display: none">
          </ul>
        </div>
      </li>
      <li>
        <a id='class-to-video'>
          <i class="fa fa-film fa-lg"></i>
          <span class="nav-text">上传视频</span>
        </a>
      </li>
      <li>
        <a id='class-to-exam'>
          <i class="fa fa-tasks fa-lg"></i>
          <span class="nav-text">编辑练习</span>
        </a>
      </li>
      <li>
        <a id='class-to-feedback'>
          <i class="fa fa-cloud-upload-alt fa-lg"></i>
          <span class="nav-text">评价报告</span>
        </a>
      </li>
      <li>
        <a id='class-to-courseware'>
          <i class="fa fa-folder-open fa-lg"></i>
          <span class="nav-text">上传课件</span>
        </a>
      </li>
      <li>
        <a id='class-to-logout'>
          <i class="fa fa-power-off fa-lg"></i>
          <span class="nav-text">退出系统</span>
        </a>
      </li>
    </ul>
    <ul id="sidebar-back" class="back">
      <li>
        <a href="javascript:history.go(-1);">
          <i class="fa fa-chevron-left fa-lg"></i>
          <span class="nav-text">
            后退
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <div style="margin-left: 55px;width: 100% ; margin: auto; margin-top: 80px; z-index: 1">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 id="big-title" style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">查看练习</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">选择练习</h5>
              <div class="row pre-scrollable" style="max-height: 35vh">
                <div class="col-12">
                  <div id="exams-select" class="list-group list-group-flush" style="font-size:12px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <a id="add-exam-a" href="/exam/add">
            <button type="button" id="report-button" class="btn btn-outline-info btn-block btn-lg">增加练习</button>
          </a>
          <br>
          <a id="add-exam-a">
            <button type="button" id="report-button" class="btn btn-outline-danger btn-block btn-lg" onclick = "deleteExam()">删除练习</button>
          </a>
        </div>
        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">评价内容</h5>
              <div class="card">
                <div class="card-body">
                  <table class="table" style="margin-top: 10px;">
                    <thead>
                      <tr>
                        <th>学生姓名 </th>
                        <th>学号</th>
                        <th>练习得分</th>
                      </tr>
                    </thead>
                    <tbody id="exam-result-table">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>