<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <title>华中科技大学计算机网络实训平台</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron">
        <div class="container">
        <h1>华中科技大学
        </h1>
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">计算机网络实训平台</h1>
                    <p class="lead">华中科技大学网络与计算中心</p>
                    <hr class="my-2">
                    <p></p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/login" role="button">登录</a>
                        <!-- <a class="btn btn-primary btn-lg" href="http://pass.hust.edu.cn" role="button">Hub系统登录</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>