<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华中科技大学信息安全实验平台 - 查看个人信息</title>
  <!-- load JS-->
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/information.js"></script>
  <!-- load CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/public/stylesheets/fontawesome/css/fontawesome-all.min.css">
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick.css" />
  <!-- http://kenwheeler.github.io/slick/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick-theme.css" />

  <script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>

</head>

<body>
  <div style="position: relative;z-index: 1">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #133AAC; z-index: 0">
        <img src="../public/images/logo.gif">
        <div class="navbar-header">
            <a class="navbar-brand" href="/catalog" style="padding-left: 10px; margin-left: 10px; color: white; border-left: 1px solid #7c8b99; font-size:24px;">华中科技大学信息安全实验平台</a>
        </div>
        <div style="width: 100% ;overflow: visible;"></div>
        <div class="dropdown" style="margin-right: 10%">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                您目前作为 <%=student_name%> 登入。
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item" href="/information" style="font-size:20px;">查看/修改个人信息</a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="logout()" style="font-size:20px;">登出</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

  <div class="container" style="width: 1200px ; margin-top: auto;">
    <div class="row" style="margin-top:20px">
      <div class="col-12">
        <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">个人信息 </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form>
              <small id="Help" class="form-text text-muted">修改信息：在框内填入您想修改的内容，并点击修改。</small>
              <br>
              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">姓名</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px; color:black;" id="name"
                  placeholder="姓名">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">学院</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px;color:black;" id="col"
                  placeholder="计算机科学与技术学院">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">学号</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px;color:black;" id="uid"
                  placeholder="U20XXXXXXX">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">密码</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px;color:black;" id="pw"
                  placeholder="**********">

              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">确认密码</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px;color:black;" id="rpw"
                  placeholder="**********">
              </div>

              <center><button id="submit_button" type="submit" class="btn btn-primary" onclick="setData()">修改</button></center>
            </form>
          </div>
        </div>
</body>