<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华中科技大学信息安全实验平台 - 查看个人信息</title>
  <!-- load JS-->
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/information.js"></script>
  <!-- load CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/public/stylesheets/fontawesome/css/fontawesome-all.min.css">
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick.css" />
  <!-- http://kenwheeler.github.io/slick/ -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href='/public/stylesheets/examsidebar.css' />

  <script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>

</head>

<body>
    <div class="header">
        <div class="headerb">
            <div class="top-logo" onclick="window.open('http://hub.hust.edu.cn')" style="cursor: pointer;"></div>
            <div class="headern">
                华中科技大学信息安全实验平台
            </div>

            <div class="logout pointer" title="退出登录" onclick="Logout()" style="cursor: pointer;">
                <div class="logout-icon"></div>
                <span>退出</span>
            </div>
        </div>
    </div>

  <div class="container" style="width: 1200px ; margin-top: auto;">
    <div class="row" style="margin-top:80px">
      <div class="col-12">
        <h5 style="color: black; border-bottom: 1px solid #19213d; padding-bottom: 16px;">个人信息 </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form>
              <small id="Help" class="form-text text-muted">修改信息：在框内填入您想修改的内容，然后点击右下角的修改按钮。</small>
              <br>
              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">姓名</label>
                <input class="form-control" autocomplete="off" style="background-color: white; border:#ced4da solid 1px; color:black;" id="username"
                  placeholder="姓名">
              </div>


              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">学号</label>
                <input class="form-control" style="background-color: white; border:#ced4da solid 1px;color:black;" id="userid" readonly="readonly"
                  placeholder="学号">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">密码</label>
                <input class="form-control" type="password" style="background-color: white; border:#ced4da solid 1px;color:black;" id="pw"
                  placeholder="**********">

              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" style="color:black; font-size:14px;">确认密码</label>
                <input class="form-control" type="password" style="background-color: white; border:#ced4da solid 1px;color:black;" id="rpw"
                  placeholder="**********">
              </div>
              <button id="back_button" type="button" class="btn btn-primary" onclick="window.location.href = '/'" style="float:left">返回</button>
              <button id="submit_button" type="submit" class="btn btn-primary" onclick="setData()" style="float:right">修改</button>
              
            </form>
          </div>
        </div>
</body>