<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <title>华中科技大学计算机网络实训平台 - 用户登录</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
    <meta name="google" value="notranslate" />
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link href="../public/stylesheets/login.css" rel="stylesheet" />
    <script src="/public/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
</head>

<body style="background: url(/public/images/back2.jpg);background-repeat: no-repeat; background-size:cover; ">
    <div class="form">

        <div id="logo">
            <img src="/public/images/logo2.gif" style="display: block; margin: 0 auto;width: 60px; height: 48px;">
            <span>华中科技大学<br>计算机网络实训平台</span>
        </div>
        <div id="land_area">
            <form method='POST' class="login-form">
                <div class="input_area">
                    <input class="login_box_input" id="userid" name="userid" size="25" tabindex="1" autocomplete="off" htmlescape="true" placeholder="学号 (ID)"
                        style="line-height: 30px; margin: 5px">
                    <input type="password" class="login_box_input" id="password" name="password" size="25" tabindex="2" placeholder="密码 (Password)"
                        style="line-height: 30px;margin: 5px">
                </div>
                <button id="login" type="submit" class="btn btn-primary btn-lg">登录</button>
            </form>
        </div>
    </div>
    <script>
        $($('#login').click(function (evt) {
                evt.preventDefault();
                $.ajax({
                    url: 'login',
                    type: 'POST',
                    data: {
                        userid: $('#userid').val(),
                        password: $('#password').val()
                    },
                    success: function (data) {
                        if (data && (data.ret_code == 0)) {
                            // alert(data.ret_msg);
                            window.location.pathname = '/catalog';
                        } else {
                            alert(data.ret_msg);
                            $('#password').val('');
                        }
                    }
                });
            }
        ));
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
</body>


</html>