<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <title>华中科技大学计算机网络实训平台 - 模拟攻防</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
    <meta name="google" value="notranslate" />
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link href="../public/stylesheets/login.css" rel="stylesheet" />
    <script src="/public/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="form">

        <div id="logo">
            <img src="/public/images/logo2.gif" style="display: block; margin: 0 auto;width: 60px; height: 48px;">
            <span>华中科技大学<br>计算机网络实训平台</span>
        </div>
        <div id="land_area">
            <div id="button-1">
                <a href="vmware://start"><button type="button" class="btn btn-primary btn-lg">启动Vmware</button></a>
            </div>
            <div id="button-2" style="margin: 8%">
                    <a href="cisco://start"><button type="button" class="btn btn-primary btn-lg">启动Cisco模拟</button></a>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
</body>


</html>