<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>滚动至顶部后固定</title>
<style type="text/css">
.wrapper{width:100%;height:2000px;margin-left:auto;margin-right:auto;}
.header{height:100px;width:100%;background-color: greenyellow;position: fixed;top:0;}

#nav_test_1{height:80px;position:relative;top:0;background:#125430;width:100%;}
#nav_test_2{height:30px;width:100%;position:relative;top:0;background-color: red;}
#nav_test_3{height:30px;width:100%;position:relative;top:0;background-color: blueviolet;}
</style>
</head>
<body>
<div class="wrapper">
<div id="top_1" class="header" >标题</div>
<div id="nav_test_1">
顶端导航测试1
</div>
 
</div>
<script>
    // 导航按钮
 function process(id1,id2){
    var menu= document.getElementById(id1);
// 获取距离页面顶端的距离
var titleTop = menu.offsetTop;
// 滚动事件
window.addEventListener(id2, function() {
var btop = document.body.scrollTop || document.documentElement.scrollTop;
console.log(titleTop);
console.log(titleTop);
// 如果滚动距离大于导航条据顶部的距离
if(btop > titleTop) {
    // 为导航条设置fix
    id1.addClass("fixed")
}  else {
    //移除fixed
    id2.removeClass("fixed")
    }
})

 }

</script>

</body>
</html>
