@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(/public/fonts/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY5abuWIGxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(/public/fonts/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzY5abuWI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header{height: 60px;background: #1f69ac;width: 100%; position: fixed; top: 0px;}
.header .headerb{height: 60px;background: #1f69ac;width: 1200px;overflow: hidden;margin: auto;}
.header .headerb .top-logo{width:69px;height: 60px;float: left;background: url(/public/images/logo.gif) no-repeat;}
.header .headerb .top-logo img{width:69px;height: 60px;float: left;}
.header .headerb .headern{height: 44px;line-height:44px;color:#fff;margin-top:8px;margin-left:10px;padding-left:10px;border-left: 1px solid #7c8b99;float: left;overflow: hidden;font-size: 26px;}
.header .headerb .logout{height: 34px;width: 80px;overflow: hidden;float: right;margin-top: 13px;}
.header .headerb .logout-icon{height:16px;width: 14px;overflow: hidden;float: left;margin-top: 10px;margin-left:12px; background: url(/public/images/logout.png) no-repeat; background-size: cover; }
.header .headerb .logout span{color: #7998bf;font-size: 15px;margin-top: 7px;margin-left: 10px;display: block;float: left;}


.logo{
  height:73px;
  float:left;
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
  text-align: center;
  position: relative;
  display: block;
  transform: translateY(10px);
}

.settings {
  height:73px;
  float:left;
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
  text-align: center;
  font-size:20px;
  font-family: 'Strait', sans-serif;
  opacity: 0;
}



.hover {
  height:73px;
  float:left;
  background-repeat:no-repeat;
  width:255px;
  margin:0px;
}





.fa-lg {
font-size: 1em;
  
}
.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 

font-size:20px;



}



.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}



.main-menu {
background:#F7F7F7;
border-right:1px solid #e5e5e5;
position:fixed;
float: left;
top:62px;
bottom:0;
height:100%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
transform:translateZ(0) scale(1,1);
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
  z-index: 10;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;

}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#959595;
font-size: 14px;
text-decoration:none;
transform:translateZ(0) scale(1,1);
-webkit-transform:translateZ(0) scale(1,1);
transition:all .14s linear;
-webkit-transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #F0F0F0;
box-shadow:inset 0 1px 1px #FAFAFA;
text-shadow: 1px 1px 1px  #fff;  
}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .nav-text-small  {
   
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:150px;
  font-family: 'Titillium Web', sans-serif;
  }




.main-menu .fb-like {
left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.back {
position:absolute;
left:0;
bottom:58px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
  
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;

}

/* 鼠标滑过变色 */
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#206db0;
text-shadow: 0px 0px 0px; 
}


.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(/public/fonts/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}