.form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -195px;
    margin-top: -250px;
    width: 390px;
    height: 400px;
    font-size: 18px;
    box-shadow: 0px 0px 10px #A6A6A6;
    -webkit-box-shadow: 0px 0px 10px #A6A6A6;
    background: #f8f7f7;
  }
  
  #land_title {
    text-align: center;
    width: 390px;
    padding: 15px 0;
    color: #545454;
  }
  
  #land_area{
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 15px;
  }
  
  #logo{
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
  }
  
  #land_button{
    margin-top: 50px;
    line-height: 50%;
    float: left;
    width: 240px;
    height: 38px;
    font-family: "Microsoft YaHei UI";
    font-size: 18px;
    position: absolute;
    left: 75px;
  }
